body {
    background-color: #e8f4f0 !important;

}

body:after {
    animation: grain 8s steps(10) infinite !important;
    background-image: url("../imgs/noise.png") !important;
    content: "" !important;
    height: 300%;
    background-repeat: repeat !important;
    position: fixed !important;
    left: -50%;
    opacity: 0.3;
    top: -100%;
    width: 300%;
    z-index: -100;
}

@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%, 0%)
    }

    70% {
        transform: translate(0%, 15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}

.yes-form-radio-button {
    background-color: transparent !important;
    border: 1.5px solid #1e7353 !important;
}

.yes-form-radio-button:checked[type=radio] {
    background-image: none !important;
}

.yes-form-radio-button:checked {
    background-color: #1e7353 !important;
    border-color: #1e7353 !important;
}

.no-form-radio-button {
    background-color: transparent !important;
    border: 1.5px solid #bd0d21 !important;
}

.no-form-radio-button:checked[type=radio] {
    background-image: none !important;
}

.no-form-radio-button:checked {
    background-color: #bd0d21 !important;
    border-color: #bd0d21 !important;
}


/* ~~~~~~~~~~ HOME1.html styling ~~~~~~~~~~ */
.overlay {
    width: 100%;
    background: rgba(0, 0, 0, .75);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.videoBox {
    position: fixed;
    width: 90%;
    left: 50%;
    top: 52%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    border-radius: 5px;
}

.videoBox video {
    width: 100%;
}

.close {
    width: 36px;
    height: 36px;
    position: absolute;
    top: -18px;
    right: -18px;
    display: block;
    background: transparent url(../imgs/close.png) no-repeat center center;
    opacity: 0.9;
}

.close:hover {
    opacity: 1;
}

.top-video {
    width: 100%;
    margin-bottom: -10px;
}

/* ~~~~~~~~~~ HOME1.html styling ~~~~~~~~~~ */



/* ~~~~~~~~~~ PROPERTIES ~~~~~~~~~~ */
.w-640 {
    width: 640px !important;
}

.h-564 {
    height: 564px !important;
}

.font-size-3em {
    font-size: 3em;
}

.margin-top-100 {
    margin-top: 100px !important;
}

/* ~~~~~~~~~~ PROPERTIES ~~~~~~~~~~ */
.communicatePrimaryStrength li {
    font-size: 1.5em;
}

.communicatePrimaryStrength li::marker {
    content: "* ";
    font-weight: bolder;
    display: inline-block;
    margin-left: -1em;
    font-size: 20px;
}